
.container {
    margin-top: 70px;
    width: 1200px;
    
}
.custom-thead th {
    background-color: #d9d9d9;
}
.showBtn{
    display: flex;
    justify-content: space-between;
}

/* Barre de navigation */

.navbar-brand img {
    max-width: 100%;
    height: auto;
}
.navbar-nav {
    margin-right: 56px;
}
.logo {
    margin-left: 56px;
}
.nav-link {
    margin-bottom: -9px;
}
.navbar {
    background-color: #268EE6;
}
#navigation{
    margin-top: 20px;
}
.custom-toggler {
    margin-right: 5px;   
        border: none;  
  }
  .modale {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

#modal-style {
    background-color:#268EE6;
    margin: 10% auto;
    padding: 40px;
    border: 1px solid #888;
    width: 30%;
    
}
.modal-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Crée 3 colonnes */
    grid-gap: 50px; /* Espace entre les éléments de la grille */
    padding: 0; /* Enlève le padding par défaut de la liste */
    
}
.modal-grid a {
    display: block; 
    text-align: center; 
}

/* Barre de navigation comptabilité */
.bordered-dropdown {
    border: 1px solid #ccc; /* Example: gray border, 1px width */
    border-radius: 4px; /* Optional: rounded corners */
}
.margin-left {
    margin-left: 25px; /* Adjust the value as needed */
}
/* Couleurs pour les boutons actifs et inactifs */
.btn-active {
    background-color: #268EE6; /* Couleur pour le bouton actif */
    color: white;
}

.btn-inactive {
    background-color: #f8f9fa; /* Couleur pour le bouton inactif */
    color: #454545;
    border-color: #cecece;
}

h5{
    margin-left: 20px;
    margin-top: 7px;
}
#btnTableaux {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
#btnGraphiques {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-right: 20px;
}
.btn-fixed-width {
    width: 70px;   
}

/* td,
tr {
    width: 5px;
} */

/* 
.thead-primary {
    background-color:blue;
} */




/* barre de recherche */
.form-control::placeholder { 
    color: rgb(219, 219, 219); 
    opacity: 1; 
  }
  .form-control:focus {
    border-color: rgb(210, 210, 210); /* Supprime la bordure */
    box-shadow: none; /* Supprime l'ombre autour du champ lorsqu'il est en focus */
}
.search{
    width: 20%;
    
}
/* trie par categorie */
.custom-dropdown {
    padding: 10px; /* Ajoutez le padding désiré */
    border: 1px solid #ced4da; /* Exemple de bordure */
    border-radius: 4px; /* Bordures arrondies pour un look plus doux */
    font-size: 1rem; /* Taille de la police */
}
.autres-options{
    display: flex;
}
.opt{
    margin-right: 10px;
}

.trie{
    margin-left: 20px;
    margin-top: 7px;
}
.rechercheFlex{
    display: flex;
    align-items: center;
    margin-top: -10px;
    margin-bottom: -15px;
}
.stock-info {
    margin-top: 7px;
    margin-left: 450px;
    
}
.stock-info p {
   font-weight: bold;
   
}
.p2{
    margin-top: -7px;
}
.form-control{
    padding: 9px;
}
.form-control, .custom-dropdown {
    font-size: 1rem; /* Taille de la police relative */
}
.table-responsive {
    display: block;
}
/* Catalogue responsive */

@media (max-width: 1200px) { 
   
    .stock-info{
        display: none;
    }
    .search, .trie {
        
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .trie{
margin-top: 17px;
    }
    
}

@media (min-width: 480px) and (max-width: 992px) { 
    .search, .trie {
        
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .trie{
        margin-top: 17px;
            }
            .custom-toggler {
                margin-right: 60px;    
                    border: none; /* Supprime la bordure */ 
              }
              .mt-custom{
                background-color: #268EE6;
                margin-top: 59px;
            }
            .offcanvas-body ul{
                margin-left: 60px;
            }
            .offcanvas-body ul a{
                text-decoration: none;
                color: #fff;
                font-size: large;
            }
            .no-border:focus, .no-border:active {
                border: none;
                outline: none;
                box-shadow: none;
            }

    
}
@media  (max-width: 577px){
    .custom-toggler {
        margin-right: 14px;    
            border: none; /* Supprime la bordure */ 
      }
   
    .rechercheFlex, .autres-options {
        flex-direction: column;
        align-items: flex-start;
    }

    .search, .trie {
        
        margin: 10px 0; /* Ajustement des marges */
    }
    .trie{
        margin-top: -2px;
            }
    .stock-info{
        display: none;
    }
    .form-control, .custom-dropdown {
        font-size: 0.9rem; /* Taille de police plus petite pour les petits écrans */
    }
    .stock-info{
        display: none;
    }
    #catalogue-responsive {
        display: none; /* Masquer le tableau */
    }
    .article-card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #fff;
    }

    .article-image img {
        width: 60px; /* Ajustez la taille de l'image selon vos besoins */
        height: auto;
        margin-right: 10px;
    }

    .article-info {
        flex-grow: 1;
        padding: 0 10px;
    }

    .article-nom {
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .article-prix {
        font-size: 0.9rem;
        color: #333;
    }

    .article-actions {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .article-actions form {
        margin-bottom: 5px;
    }

    .article-actions button {
        font-size: 0.8rem;
        width: 60px;
    }
    .logo {
        margin-left: 6px;
    }
}

/* Caisse responsive */

@media  (max-width: 577px){
    .caisse{
        display: none;
    }
    .ajout{
        flex-direction: column;
        align-items: flex-start;
       
    }
  .BtnModal{
    margin-top: 10px;
  }
  #cart-responsive{
    width: 290px;
    
  }
  #myDiv {
    width: auto !important;
    max-width: 100% !important;
}
.custom-col{
    width: auto !important;
    max-width: 100% !important;
}

  
    .mobile-label:after {
      content: attr(data-mobile-label);
    }
    .container {
        margin-left: 0 !important;
        margin-right: 0 !important;
        width: 100% !important;
        max-width: none !important;
        
    }
  
    .d-flex.justify-content-end {
        justify-content: start !important;
    }
    .ms-auto {
        margin-left: 0 !important;
        margin-right: auto !important;
    }

    .carte-empty{
        display: none;
    }
    .mt-custom{
        background-color: #268EE6;
        margin-top: 59px;
    }
    .offcanvas-body ul{
        margin-left: 60px;
    }
    .offcanvas-body ul a{
        text-decoration: none;
        color: #fff;
        font-size: large;
    }
    .no-border:focus, .no-border:active {
        border: none;
        outline: none;
        box-shadow: none;
    }
  
#tabl{
    display: none;
}
  
    
}


/* Caisse */
.caisse{
    margin-left: 156px;
    color: #454545;
}

.ajout{
    display: flex;
    justify-content: space-between;
    text-align: center;
   
}
h3{
    margin-left: 18px;
    color: #454545;
}


/* Modals */
.modal-header {
    border-bottom: none; /* Enlève la bordure en bas du header */
    margin-top: 2px;
  }
.modal-footer {
    border-top: none; /* Enlève la bordure en haut du footer */
    margin-right: 0px;
  }
#modal-content {
    height: 250px;
    width: 320px;
    justify-content: center;
   
}
#modal-content-style{
    height: 400px;
    width: 320px;
    justify-content: center;
   
}
.form-control{
    width: 260px;
    
}
.btn-close {
    width: 5px; /* ajuste la largeur */
    height: 5px; /* ajuste la hauteur */
    top: 3px;
  }
#btnAjouter{
    width: 260px;
  }
#btnDropdown1{
    width: 260px;
}
#btnDropdown2{
    width: 260px;
}
.d-flex {
    margin-top: -30px;
    margin-right: -12px;
}



.vide p{
    text-align: left;
    margin-left: 50px;
    color: #aaaaaa;
}




/* table Liste */
.card {
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    margin-bottom: 20px;
}
.no-vertical-lines th, .no-vertical-lines td {
    border-left: none;
    border-right: none;
}
.no-bottom-border td {
    border-bottom: none;
}

/* modal historique de retour */
#historiqueRetoursModal .modal-dialog {
    width: 550px;
}
#historiqueRetoursModal .table {
    width: 100%;
    align-items: center;
}
#historiqueRetoursModal .table th, #historiqueRetoursModal .table td {
    padding: 10px;
}
#historiqueRetoursModal .table-centered {
    margin-left: auto;
    margin-right: auto;
    width: auto; 
}
#historiqueRetoursModalLabel{
   margin-left: 170px;
}
#historiqueRetoursModal .table th {
    white-space: nowrap;
}



.table-responsive .table th {
    white-space: nowrap;
}


